@font-face {
    font-family: 'museo';
    src: url('/typography/museo300-regular-webfont.eot');
    src: url('/typography/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/typography/museo300-regular-webfont.woff') format('woff'),
         url('/typography/museo300-regular-webfont.ttf') format('truetype'),
         url('/typography/museo300-regular-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans';
    src: url('/typography/museosans_500-webfont.eot');
    src: url('/typography/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/typography/museosans_500-webfont.woff') format('woff'),
         url('/typography/museosans_500-webfont.ttf') format('truetype'),
         url('/typography/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue';
    src: url('/typography/bebasneue-webfont.eot');
    src: url('/typography/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/typography/bebasneue-webfont.woff') format('woff'),
         url('/typography/bebasneue-webfont.ttf') format('truetype'),
         url('/typography/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*TYPOGRAPHY*/

h1 {
	font-size: 3em;
	font-weight: 300;
	letter-spacing: -3px;
  font-family: "museo_sans", "arial", "sans-serif";
}

h2 {
	font-size: 2em;
	font-weight: 100;
	letter-spacing: -1px;
  font-family: "museo", "arial", "sans-serif";

}

h4 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 26px;
	font-weight: lighter;
}


p {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 22px;
	text-align: justify;
	line-height: 30px;
	font-weight: 100;
	color: #262227;
}

a {
	color: #fc5f01;
}

a:hover{
	color: #434246;
}


//*DEFAULT*//

body {
	background-image: url('/images/bg.png');
}

#wrapper {
	width: 75%;
	margin: 0 auto;
}

.clear{
	clear: both;
}


//*POSITION*//

.left {
	float: left;
}

.right {
	float: right;
}

//*FOLDS*//

 .fold_how{
	height: 768px;
}

//*FOLD INTRO*//

.fold_intro {
	height: 700px;
	
	h1{
		font-size: 5.4em;
		letter-spacing: -4px;
		line-height: 0.9em;
		color: #1C0113;
		margin-bottom: 0;
		font-weight: bolder;	
	}
		
}

.intro, .fold {
	width: 53%;
}

.intro_image {
	width: 40%;
	margin: 60px 0 0 0;
}

.intro {
	
	.quees {
		width: 10em;
		height: 10em;
		margin: 0 0 0 60px;
		
	  p {
		margin: 2.6em 0 0 0;
		font-size: 1.5em;
		letter-spacing: -0.5px;
    font-family: "museo_sans", "arial", "sans-serif";
	  }
      	
	}
	
}

//*FOLD CONNECTION*//

.fold_connection_left{
	width: 100%;
	
	.separation {
		width: 10%;
		margin: 0 10px 0 135px;
	}
	
}

h4.signature {
	font-size: 14px;
	letter-spacing: 0.5px;
}


.fold_connection {
	margin: 10px 0 100px 0;
	
	.testimonial {
		width: 100%;
		margin: 70px 0 0 0 ;
		
		.texto{
			width: 80%;
			margin: 0 0 60px 0;
		}
		
		p {
			font-size: 20px;
			margin: 0;
      font-family: "museo", "arial", "sans-serif";
		}
		
		p.signature {
			font-size: 14px;
		}
		
		.image {
			width: 17%;
			
		}
	}
}

.connection_intro.title{
	margin: 205px 50px 0 0;
}




//**************************


//*****************


//* FOLD QUÉ ES? *//

.fold_quees {		
	width: 100%;
	text-align: center;
	height: 740px;

	.text {
	  width: 52%;
	  margin: 0 110px 0 0;
	}

	.text h1 {
		text-align: left;
    font-size: 2.9em;
	}

	.image {
		margin: 10px 0 0 0;
		width: 100px;
	}
	
}

.quees {
  width: 13em; 
  height: 13em; 
  -webkit-border-radius: 8em; -moz-border-radius: 8em;
  background-color: #444045;
  margin: 0 0 0 130px;

  p {
	  font-size: 1.2em;
    text-align: center; 
    margin-top: 4.6em;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    font-family: "museo_sans", "arial", "sans-serif";
    }
 
}


//** FOLD INBOUND VS OUTBOUND **//

.fold_inboundoutbound{
  .text {
	  height: 670px;
    h1 {
        font-size: 2.9em;
      }

}
	.image{
		
		.text{
			position: absolute;
			z-index: 2;
			text-align: center;
			margin: 150px 0 0 90px;
			width: 400px;

			h2, h3 {
				color: #444045;
			}			
			
			h2 {
				font-size: 1.5em;
				line-height: 1.3em;
				letter-spacing: -1px;
			}
			
			h3 {
				font-size: 9em;
				margin: 40px 0 0 0;
				line-height: 0.7em;
        font-family: "bebas_neue", "arial", "sans-serif";
			}		
		}
		
  }
}
		
.graph{
	position: absolute;
	z-index: 1;
}


//** FOLD WHY? **//

.fold_why {
	height: 680px;
	
	.box {
	  width: 22%;
	  margin: 20px 30px 0 0;
	}
	
  	h2 {
	  	font-size: 25px;
	    line-height: 25px;
		  text-transform: uppercase;
		  color: #444146;
		  font-weight: normal;
		  letter-spacing: -1px;
      font-family: "museo_sans", "arial", "sans-serif";
	    } 
	  
	  p {
		font-size: 18px;
		text-align: left;
	  }
	
	
    .content {
	    margin: -20px 0 0 0;
	    padding: 0;
      }
  
    .image {
	    width: 70%;
	    margin: 0;
	    text-align: center;
	  }
    
    .description {
	    width: 77%;
	    margin: 0;
	    height: 0;
    }
  
}

.why {
	margin: 40px 0 0 0;
}

.separation{
    margin: 80px 0 0 20px;	
}

.vertical_separation{
	margin: 1em 0 0 7.5em;
}

//*FOLD HOW*//

.fold_how {
	
	.description{
  	
    h2 {
	  	font-size: 25px;
    	line-height: 25px;
    	text-transform: uppercase;
  		color: #444146;
  		font-weight: normal;
  		letter-spacing: -1px;
		}
  } 

  .main, .side {
	  width: 45%;
  }
  
  .main {
	border-right: 1px solid #ccc;
	padding: 0 50px 0 0;
  }

  .side {
	  margin: 10px 0 0 0;
	
	  p {
		font-size: 18px;
		margin: 0 0 30px 0 ;
	  }
	
	  h2 {
  		font-size: 28px;
	  	text-transform: none;
		  line-height: 0;
      color: #444146 !important;
	}
}
}

.fivecolumns {
	text-align: center;
	width: 170px;
	margin: 20px 40px 40px 0;

	h2 {
		font-size: 20px;
		letter-spacing: 0;
		text-transform: uppercase;
    font-family: "museo_sans", "arial", "sans-serif";
    color: #444146;
	}
}

.line {
	width: 100%;
	border-bottom: solid #635b65 1px;
	margin: 0;
}

.arrow {
	margin: -3px 0 0 70px;
}


.description {
	margin: 50px 0 0 0;
	height: 300px;
}

.text {
	width: 41%;
}

.image {
	width: 584px;
	margin: 0 0 40px 0;
	
	p{
		color: #454046;
		font-size: 18px;
		line-height: 22px;
		font-weight: lighter;
	}
	
}


//*FOLD EXAMPLES*//

.fold_examples {
	margin: 30px 0 0 0;
	height: 900px;
}

.examples {
	margin: 0  !important;
	width: 96%;
	padding:0;
		  
  .image {
	  margin: 10px 0;
		width: 500px;		
		height: 345px;		
		border: 1px solid #ccc;
  }

	.description {
		margin: 0 0 0 10px;
     width: 23%;

     .button{
      background: #fe9601; /* for non-css3 browsers */

			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe9601', endColorstr='#fe7201'); /* for IE */
			background: -webkit-gradient(linear, left top, left bottom, from(#fe9601), to(#fe7201)); /* for webkit browsers */
			background: -moz-linear-gradient(top,  #fe9601,  #fe7201); /* for firefox 3.6+ */ 
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			border-radius: 20px; /* future proofing */
			-khtml-border-radius: 20px; /* for old Konqueror browsers */
			
			width: 80%;
			height: 35px;
			
			p{
				color: white !important;
				font-family: helvetica;
				line-height: 0 !important;
				font-size: 18px;
				text-align: center !important;
				
			}
     }

     .button:hover{
      background: #fe7201; /* for non-css3 browsers */

			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe7201', endColorstr='#fe9601'); /* for IE */
			background: -webkit-gradient(linear, left top, left bottom, from(#fe7201), to(#fe9601)); /* for webkit browsers */
			background: -moz-linear-gradient(top,  #fe7201,  #fe9601); /* for firefox 3.6+ */ 

}
     h4 {
font-size: 24px;
}
	}


	
	}


//*PRICING*//

.structure {
	width: 71%;
	background-color: white;
	opacity: 0.8;
	height: 600px;
	margin: 40px 0 0 0;
	padding: 0 0 0 20px;
}

.pricing {
	width: 25%;
	background-color: #434246;
	opacity: 0.8;
	margin: 40px 0 0 0;
	text-align: center;
	height: 600px;
	
	h3 {
		color: white;
		font-size: 80px;
		line-height: 0;
		font-weight: lighter;
	}
}

.slider {
	.bar {
		background-image: url('/images/slider_bar.png');
		width: 708px;
		height: 8px;
		margin: 10px 0 0 0;
	}
	
	.pointer {
		height: 22px;
		position: relative;
		top: -5px;
	}
	 
	ol{
		list-style: none;
	}
	
  ol li {
		float: left;
	  margin: -10px 60px 0 0 ;
}	

  ol li p {
	font-size: 14px;
	margin: 0;
}
	

}

//*FOLD WANT*//

.fold_want {
	height: 400px;
	margin: 60px 0 0 0;
}

.form_bg {
	width: 92%;
	background-color: white;
	opacity: 0.9;
	padding: 10px 10px 10px 20px;
	margin: 20px 0 0 0;
	
	.title{
		width: 45%;
		border-right: 1px solid #ccc;
		padding: 0 40px 0 20px;
		
		h1{
			line-height: 50px;
		}
		
	}
	
	.form {
		width: 45%;
		padding: 0 10px 0 0;
		margin: 40px 0 0 0;
	}
	
  .input-placeholder {
    font-family: "HelveticaNeue-Light", "arial", "sans-serif";
    float: left;
  }

	input, textarea {
		width: 400px;
		border: 1px solid #ccc;
		height: 35px;
		padding: 5px 10px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 18px;
		color: #6c6c6c;
		margin: 0 0 10px 0;
	}
	
	.boton {
		color: white;
		width: 30%;
		background: #fe9601; /* for non-css3 browsers */

		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe9601', endColorstr='#fe7201'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#fe9601), to(#fe7201)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #fe9601,  #fe7201); /* for firefox 3.6+ */ 
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px; /* future proofing */
		-khtml-border-radius: 20px; /* for old Konqueror browsers */
		border: 1px solid #fe7201;    
		margin: 10px 0 0 150px;
	}

  .boton:hover {
		background: #fe9601; /* for non-css3 browsers */

		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe7201', endColorstr='#fe9601'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#fe7201), to(#fe9601)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #fe7201,  #fe9601); /* for firefox 3.6+ */ 	
}	
}

.createdby {

	h1 {
	font-size: 2em;
	letter-spacing: -1px;
	}

	a{
	color: black;
	}

	a:hover{
	color: #fe9601;
	}

	width: 50%;
	text-align: center;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	padding: 1em 0 3em 0;
}
