h1 {
  font-size: 5.4em;
  letter-spacing: -4px;
  line-height: 0.9em;
  color: #1C0113;
  font-weight: lighter;
  margin-bottom: 0; }

h2 {
  font-size: 2.2em;
  font-weight: 100;
  letter-spacing: -2px; }

p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 22px;
  text-align: justify;
  line-height: 30px;
  font-weight: 100;
  color: #262227; }

body {
  background-image: url("/images/bg.png"); }

#wrapper {
  width: 75%;
  margin: 0 auto; }

.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.fold_intro, .fold_quees, .fold_inboundoutbound, .fold_why, .fold_how, .fold_examples, .fold_want {
  height: 768px; }

.intro, .fold {
  width: 53%; }

.intro_image {
  width: 40%;
  margin: 20px 0 0 0; }

.fold {
  margin: 0;
  padding: 0;
  width: 55%; }

.intro .quees {
  width: 6em;
  height: 6em;
  margin: 0 0 0 5em; }
  .intro .quees p {
    margin: 2.2em 0 0 0; }

.inbound_outbound {
  width: 35%;
  margin: 30px 0 0 0; }

.testimonial {
  width: 40%;
  background: white;
  padding: 10px;
  margin: 40px 0; }
  .testimonial p {
    font-size: 16px;
    margin: 0;
    line-height: 22px;
    color: black; }

.signature {
  font-style: italic;
  font-weight: lighter; }

.testimonial_photo {
  width: 31%; }

.testimonial_text {
  width: 65%; }

.connection {
  background-image: url("/images/connection_small.png");
  height: 116px;
  width: 49px;
  margin: 0 0 20px 110px; }

.fivecolumns {
  text-align: center;
  width: 160px;
  margin: 70px 0 40px 0; }
  .fivecolumns h2 {
    font-size: 20px;
    letter-spacing: 0;
    text-transform: uppercase; }

.hor_separation {
  width: 47px;
  height: 17px;
  margin: 100px 0 0 20px; }

.line {
  width: 100%;
  border-bottom: solid #635b65 1px;
  margin: 0; }

.arrow {
  margin: -3px 0 0 70px; }

.fold_how h1, .fold_quees h1, .fold_inboundoutbound h1, .fold_examples h1, .fold_why h1 {
  font-size: 3em;
  font-weight: lighter;
  letter-spacing: -3px; }

.description {
  margin: 50px 0 0 0;
  height: 300px; }

.text {
  width: 41%; }

.image {
  width: 584px;
  margin: 0 0 40px 0; }
  .image p {
    color: #454046;
    font-size: 18px;
    line-height: 22px;
    font-weight: lighter; }

.arrow_left {
  position: relative;
  top: 220px;
  right: 150px; }

.arrow_right {
  position: relative;
  top: 220px;
  left: 150px; }

.fold_quees {
  width: 100%;
  text-align: center; }
  .fold_quees .text {
    width: 52%;
    margin: 0 110px 0 0; }
  .fold_quees .text h1 {
    text-align: left; }
  .fold_quees .image {
    margin: 10px 0 0 0;
    width: 100px; }

.quees {
  width: 11em;
  height: 11em;
  -webkit-border-radius: 6em;
  -moz-border-radius: 6em;
  background-color: #444045;
  margin: 0 50px; }
  .quees p {
    font-size: 1em;
    text-align: center;
    margin-top: 4.5em;
    color: white;
    font-weight: 100;
    text-transform: uppercase; }

.fold_inboundoutbound .image .text {
  position: absolute;
  z-index: 2;
  text-align: center;
  margin: 150px 0 0 90px;
  width: 400px; }
  .fold_inboundoutbound .image .text h2, .fold_inboundoutbound .image .text h3 {
    color: #444045; }
  .fold_inboundoutbound .image .text h2 {
    font-size: 1.5em;
    line-height: 1.3em;
    letter-spacing: -1px; }
  .fold_inboundoutbound .image .text h3 {
    font-size: 9em;
    margin: 40px 0 0 0;
    line-height: 0.7em; }
.fold_inboundoutbound .image .graph {
  position: absolute;
  z-index: 1; }
.fold_inboundoutbound p.smaller_type {
  font-size: 70%;
  line-height: 1.5em; }

.source {
  width: 45%;
  margin: 150px 0 0 60px; }

.fold_why .box {
  background-color: white;
  width: 40%;
  padding: 10px 20px;
  margin: 30px 30px 0 0; }

.separation {
  margin: 80px 0 0 20px; }

.vertical_separation {
  margin: 1em 0 0 7.5em; }
